<html>
  <head>
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
      $(document).ready(function(){
        console.log("hello");
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Here are the awesome quotes!</h1>
      <div>
        <% for(var q=0; q < quotes.length; q++){ %>
          <div>
            <p><%= quotes[q].quote %></p>
            <p>-<%= quotes[q].name %> at <%= quotes[q].created_at%> </p>
          </div>
        <% } %>
      </div>
      <div>
        <a href="/">Back</a>
      </div>
    </div>
  </body>
</html>
